<!DOCTYPE html>
<html ng-app="easyismath">
<head>
<title>Easy is Math</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="lib/bootstrap.min.css" rel="stylesheet">

 </head>
<body class='b1'>

<!-- Begin nav bar -->


<div ng-controller="NavbarController as nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home"><img src='https://d37rhhh8kt1fi0.cloudfront.net/img/easyismathsmall.png' /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
          <li><a ui-sref="home">How it works<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">Curriculum<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">Pricing<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">FAQ<span class="sr-only">(current)</span></a></li>
        </ul>


      <button ng-show="isAuthenticated" type="button" class="btn btn-primary navbar-btn navbar-right" ui-sref="profile">My Profile</button>


      <button ng-show="!isAuthenticated" type="button" class="btn btn-info navbar-btn navbar-right" ng-click="nav.authService.login()">Sign In</button>

      <button ng-show="isAuthenticated" type="button" class="btn btn-info navbar-btn navbar-right" ng-click="nav.authService.logout()">Sign Out</button>


      <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


</div>

<!-- End Nav bar -->


<div class='container'>
  <div ui-view></div>
</div>



  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <link rel="stylesheet" href="content/css.css">
  <link rel="stylesheet" href="content/cssmissions/grade1.css">
  <script src="lib/angular.js"></script>
  <script src="lib/angular-ui-router.js"></script>
  <script type="text/javascript" src="https://cdn.auth0.com/js/lock/10.6/lock.min.js"></script>
  <script src='lib/angular-jwt/dist/angular-jwt.min.js'></script>
  <script src='lib/angular-lock/dist/angular-lock.min.js'></script>
  <script src="dist/all.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</body>
</html>