.oneBackground {
  /*background-color: green;*/
  height:100%;
  background-color:lightblue;
  text-align: center;
  margin: auto;
  font-size: 24px;
  border: 2px solid green;
}

.rewardNames {
  color:purple;
  font-size:20px;
}

.picture {
  padding-bottom: 10px;
}

.quizbut {
  padding-bottom: 7px;
}

/*mission one button*/
.one-button {
  margin-bottom: 4px;
  margin-top: 3px;
}

