<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" ng-bind="profile.name"></h3>
  </div>
  <div class="panel-body">
    Medals earned :
    <div ng-show="profile.pete">Pete<br>
    <img src='https://d37rhhh8kt1fi0.cloudfront.net/img/1-1rewardpetebear.png' class='img-responsive' style='max-height:460px' />
    </div>
    <div ng-show="profile.jumbo">Jumbo<br>
    <img src='https://d37rhhh8kt1fi0.cloudfront.net/img/grade1/1-2/1-2jumbo.png' class='img-responsive' style='max-height:460px' />
    </div>
  </div>
</div>
