<div class="headline" align="center"><img src="content/easyismath.png" /></div>
<div align="center" ng-bind="userStuff.points"></div>
<!-- Grade 1 box -->
<div class='row firstRow'>
  <div class='col-md-3 col-md-offset-1 descbox1'>Grade 1
    <div class='descboxinner'> Training begins here</div>
    <hr>
    <button class="btn btn-lg btn-primary"> Click you will</button>
  </div>

<!-- Grade 2 box -->
  <div class='col-md-3 col-md-offset-1 descbox2'>Grade 2
    <div class='descboxinner'> Training begins here</div>
    <hr>
    <button class="btn btn-lg btn-primary"> Click you will</button>
  </div>

<!-- Grade 3 box -->
  <div class='col-md-3 col-md-offset-1 descbox3'>Grade 3
    <div class='descboxinner'> Training begins here</div>
    <hr>
    <button class="btn btn-lg btn-primary"> Click you will</button>
  </div>
</div>

<div class='row'>
<!-- Grade 4 box -->
  <div class='col-md-3 col-md-offset-1 descbox4'>Grade 4
    <div class='descboxinner'> Training begins here</div>
    <hr>
    <button class="btn btn-lg btn-primary"> Click you will</button>
  </div>

<!-- Grade 5 box -->
  <div class='col-md-3 col-md-offset-1 descbox5'>Grade 5
    <div class='descboxinner'> Training begins here</div>
    <hr>
    <button class="btn btn-lg btn-primary"> Click you will</button>
  </div>

<!-- Grade 6 box -->
  <div class='col-md-3 col-md-offset-1 descbox6'>Grade 6
    <div class='descboxinner'> Training begins here</div>
    <hr>
    <button class="btn btn-lg btn-primary"> Click you will</button>
  </div>
</div>