<div class='panel oneBackground'>
  <div align="center" ng-bind="penguin.penguinsSaved"></div>
  <div class='panel-body' ng-bind-html="penguin.currentText"></div>
  <div align="center" ng-bind-html="penguin.currentImage"></div>


  <div class="one-button" ng-show="penguin.counter > 1 && penguin.penguinsSaved !== 8 ">
    <form ng-submit="penguin.clicked()">
      <input autocomplete="off" autocorrect="off" autocapitalize="off" autofocus type="text" ng-model="penguin.answer">
    </form>
  </div>


  <button ng-hide="penguin.penguinsSaved === 8" class='btn btn-large btn-success one-button' ng-bind-html="penguin.currentButtonText" ng-click="penguin.clicked()"></button>


</div>