<div class='panel oneBackground'>
<div ng-show="lisa.problems">Score:  {{lisa.score}}</div>
  <div ng-bind-html="lisa.text"></div>


  <div ng-show="lisa.problems">
    <form ng-submit="lisa.clicked2()">
      <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"  autofocus ng-model="lisa.answer">
    </form>
  </div>

  <!-- button above image -->
  <div ng-show="lisa.problems" class="quizbut" ng-bind-html="lisa.button" ng-click='lisa.clicked2()'></div>
  <!-- for single image -->
  <div align="center" class="picture" ng-bind-html="lisa.image" ng-hide="lisa.doubleImage"></div>
  <!-- for double image -->
  <div class="row" ng-show="lisa.doubleImage">
    <div align="center" class="picture col-md-2 col-md-offset-3" ng-bind-html="lisa.image"></div>
    <div  align="center" class="picture col-md-2 col-md-offset-3" ng-bind-html="lisa.image2"></div>
  </div>
  <!-- button below image -->
  <div ng-hide="lisa.problems" class="quizbut" ng-bind-html="lisa.button" ng-click='lisa.clicked1()'></div>


</div>